.options
    .container.container__options 
        .calendar
            .calendar__srt-text Календарь
            .calendar__icon
                .wrap-square
                    span.square
                    span.square
                .wrap-square
                    span.square
                    span.square
        .tabs
            ul.tabs_list
                li.tabs__item.tabs__item-active Запросы
                li.tabs__item Записи
                li.tabs__item Архив
