extends ../template

block variables
    - var title = 'Тестовое задание Дуотек'

block content
    include ../common/header.pug
    include ../common/options.pug
    include ../section/people.pug
    include ../common/footer.pug
    


            
    
    



                                
