@import "config/variables.styl"
@import "config/mixins.styl"

@import "layout/font.styl"
@import "layout/base.styl"
@import "layout/adjastment.styl"

@import "index.styl"

@import "common/header.styl"
@import "common/options.styl"
@import "common/footer.styl"

@import "section/people.styl"
