- 
    var footerMenu = [
        {
            item: 'О нас',
            href: '#'
        },
        {
            item: 'Помощь',
            href: '#'
        },
        {
            item: 'Репититорам',
            href: '#'
        },
        {
            item: 'Аккредитация языковых школ',
            href: '#'
        },
        {
            item: 'Пользовательское соглашение',
            href: '#'
        },
         {
            item: 'Политика конфиденциальности',
            href: '#'
        }

    ];