-
    var peopleList = [
        {
            month_title: 'Октябрь 2018',
            item: [
                    {
                        num: '15',
                        month: 'Октябрь',
                        time: '18:00 - 20:00',
                        matching: false,
                        search: false,
                        svg: false,
                        flag: 1,
                        src_country: 'germ.png',
                        src_pic: 'user1.png',
                        name: 'Иван Сокольский',
                        descr: '24 года, Россия, среднее образование',
                        status: 'Беседа '
                    },
                    {
                        num: '17',
                        month: 'Октябрь',
                        time: '18:00 - 20:00',
                        matching: false,
                        search: false,
                        svg: false,
                        flag: 2,
                        src_country: 'userflag.png',
                        src_country2: 'rush.png',
                        src_pic: 'user2.png',
                        name: 'Константин Константинопольский',
                        descr: '24 года, Россия, среднее образование',
                        status: 'Беседа '
                    },
                    {
                        num: '17',
                        month: 'Октябрь',
                        time: '19:00 - 20:00',
                        matching: false,
                        search: false,
                        svg: false,
                        svg: false,
                        flag: 2,
                        src_country: 'germ.png',
                        src_country2: 'britt.png',
                        src_pic: 'user3.png',
                        name: 'Анна Петрова',
                        descr: '24 года, Россия <span>, Высшее образование, Профессиональный репетитор</span>',
                        status: 'Беседа '
                    }
            ]
            
        },
        {
            month_title: 'Ноябрь 2018',
            item: [
                    {
                        num: '15',
                        month: 'Ноябрь',
                        time: '18:00 - 20:00',
                        matching: false,
                        svg: true,
                        search: true,
                        flag: 1,
                        src_country: 'germ.png',
                        src_pic: 'tel.svg',
                        name: 'Поиск собеседника',
                        descr: 'Любой пол, среднее образование',
                        status: 'Беседа '
                    },
                    {
                        num: '17',
                        month: 'Ноябрь',
                        time: '18:00 - 20:00',
                        matching: true,
                        search: false,
                        svg: false,
                        flag: 2,
                        src_country: 'userflag.png',
                        src_country2: 'rush.png',
                        src_pic: 'user4.png',
                        name: 'Катерина Иванова',
                        descr: '44 года, Россия<span>, Высшее образование, Профессиональный реп... </span>',
                        status: 'Беседа '
                    }
                ]
        }
    ];
